/*** HOME ****/
.nav {
  background-color: #00587a;
  padding: 10px;
  padding-right: 100px;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
}

main {
  padding: 16px 10%;
}

img {
  width: 200px;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 60px;
}

aside {
  width: 50%;
  border-radius: 10px;
  display: inline-block;
}

section {
  width: 49%;
  display: inline-block;
}

h3 {
  color: #00587a;
}

p {
  margin-right: 20%;
}

#coder {
  color: blueviolet;
  font-size: small;
  text-align: right;
}

/*** RESUME ****/

.btn {
  background-color: blueviolet;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 17%;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: blueviolet;
  opacity: 0.6;
}

/***PERSONAL CARDS ****/
.card-img-top {
  width: 200px;
  border-radius: 5px;
}

.card-title {
  text-align: center;
  color: #00587a;
}
.card-text {
  text-align: center;
  margin: auto;
}
